# Порт сервера
PORT=3000

# Groq API
GROQ_API_KEY=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

# Supabase
SUPABASE_URL=https://yevxvtmnxvdfpfxlupkc.supabase.co
SUPABASE_KEY=sb_publishable_KJ1sfOrpBrZgr4YQ4jqdmQ_6YslsLnY
# Gemini API
GEMINI_API_KEY=your_gemini_key_here
